.container .content{
    overflow: scroll;
}

.search{
    width: 100%;
    padding: 20px 10px;
}

.dataTables_wrapper .dataTables_filter input{
    width: 70%;
    margin-bottom: 20px;
}

.search .search_option select, input{
    width: 32%;
    font-size: 20px;
    padding: 5px 3px;
}

.list_content table tr td a{
    text-decoration: none;
}

#myTable{
    width: 100%;
    /* overflow: hidden; */
}

@media only screen and (min-width: 992px){
    .container .content{
        overflow: initial;
    }
    .search{
        width: 100%;
        padding: 20px;
    }
    
    .dataTables_wrapper .dataTables_filter input{
        width: 70%;
        margin-bottom: 20px;
    }
    
    .search .search_option select, input{
        width: 20%;
        font-size: 20px;
        padding: 5px 3px;
    }
    
    .list_content table tr td a{
        text-decoration: none;
    }
}
