.container .content .content_box .list_content{
    width: 100%;
    padding: 25px 15px;
}

.container .content .content_box .list_content table{
    width: 100%;
}

.container .content .content_box .list_content table, tr, th{
    text-transform: capitalize;
}
.container .content .content_box .list_content table, tr, th, td{
    border: 1px solid #000;
    border-collapse: collapse;
}

.container .content .content_box .list_content table tr th, td{
    padding: 5px;
}

.container .content .content_box .list_content table tr td a{
    text-decoration: none;
}